@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;700;900&display=swap");
:root {
  --color-fire: #ff7402;
  --color-grass: #9bcc50;
  --color-steel: #9eb7b8;
  --color-water: #4592c4;
  --color-psychic: #f366b9;
  --color-ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  --color-ice: #51c4e7;
  --color-flying: linear-gradient(180deg, #3dc7ef 50%, #9e9e9e 50%);
  --color-ghost: #7b62a3;
  --color-normal: #a4acaf;
  --color-poison: #b97fc9;
  --color-rock: #a38c21;
  --color-fighting: #d56723;
  --color-dark: #707070;
  --color-bug: #729f3f;
  --color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  --color-electric: #bba909;
  --color-fairy: #fdb9e9;
  --color-shadow: #7b62a3;
  --color-unknow: #757575;

  --color-i: linear-gradient(120deg, #ff0000 50%, #0000ff 50%);
  --color-ii: linear-gradient(120deg, #d2c21a 50%, #a0a0a0 50%);
  --color-iii: linear-gradient(120deg, #0d00b8 50%, #b80000 50%);
  --color-iv: linear-gradient(120deg, #6077ff 50%, #fc72e4 50%);
  --color-v: linear-gradient(120deg, #424242 50%, #f2f2f2 50%);
  --color-vi: linear-gradient(120deg, #0084c3 50%, #8f0305 50%);
  --color-vii: linear-gradient(120deg, #ffa500 50%, #b401ff 50%);
  --color-viii: linear-gradient(120deg, #00a1ef 50%, #ff005b 50%);
  --color-ix: linear-gradient(120deg, #3e08f2 50%, #ee48f7 50%);

  --color-primary: #00008c;
  --color-primary-hover: #83c5be;
  --color-accent: rgba(255, 255, 255, 1);
  --color-accent2: rgba(34, 34, 34, 1);
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-family: "Poppins", sans-serif;
  color: rgb(88, 88, 88);
}

/* NAVBAR */

.containernav {
  z-index: 100;
  width: 100vw;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-accent);
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.4));
}

.divimg img {
  max-width: 100px;
  width: 100px;
  height: auto;
  padding: 0.5rem 0 0.5rem 0.8rem;
}

.inicio h1 {
  background-color: var(--color-accent2);
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.8rem;
  margin: 0.3rem 1.5rem 0.3rem 0;
  padding: 0.5rem 1.2rem;
  font-weight: 700;
  color: rgb(128, 128, 128);
}

.inicio h1:hover {
  background-color: rgb(204, 204, 0);
  transition: ease-in-out 0.25s;
  cursor: pointer;
}

.filtrar {
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  background-color: snow;
  width: auto;
  margin: 0.5rem auto 1rem;
  border: 2px solid var(--color-accent2);
  border-radius: 10px;
  align-items: center;
}
.icono {
  width: 25px;
  fill: var(--color-accent);
}
.filtrartexto {
  font-size: 1.4rem;
  font-weight: 400;
}
.filtrar:hover {
  cursor: pointer;
}
/* BARRA DE BUSQUEDA */
.sugerencia {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 450px;
  border: 1px solid var(--color-accent2);
  background-color: var(--color-accent);
  font-weight: 300;
  font-size: 16px;
  z-index: 2;
  max-height: 300px;
  overflow: auto;
}

.react-autosuggest__suggestions-list {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--color-accent2);
  filter: brightness(1.3);
}

.react-autosuggest__input {
  width: 440px;
  text-transform: capitalize;
  padding: 5px;
  background-color: var(--color-accent);
  filter: brightness(1.3);
  border: 1px solid var(--color-accent2);
  color: #000;
  border-radius: 5px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: rgb(179, 179, 179);
}

.imgpequesearch {
  height: 50px;
  width: auto;
  padding: -15px 0px;
  margin: -10px 0px;
}

/* FILTROS */

.filtropadre {
  padding-top: 3.7rem;
  flex-direction: row;
  background-color: transparent;
}

.divfiltros {
  border-radius: 20px;
  margin: 0 auto;
  width: 90vw;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  max-width: 1250px;
  background-color: transparent;
}

.tipos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
  padding-left: 1.5rem;
  display: none;
}

.show {
  display: flex;
}

.tipos button {
  width: 75px;
  padding: 5px 0px;
  text-align: center;
  border-radius: 100vmax;
  color: white;
  border: 2px solid rgb(120, 120, 120);
  font-weight: 300;
}

.tipos button:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
  font-weight: 700;
}

.tipos .all {
  background: snow;
  color: #000;
}
.tipos .bug,
.tipopoke .bug {
  color: snow;
  background: var(--color-bug);
}
.tipos .dragon,
.tipopoke .dragon {
  color: snow;
  background: var(--color-dragon);
}
.tipos .fairy,
.tipopoke .fairy {
  background: var(--color-fairy);
  color: #000;
}
.tipos .fire,
.tipopoke .fire {
  color: snow;
  background: var(--color-fire);
}
.tipos .ghost,
.tipopoke .ghost {
  color: snow;
  background: var(--color-ghost);
}
.tipos .ground,
.tipopoke .ground {
  background: var(--color-ground);
  color: #000;
}
.tipos .normal,
.tipopoke .normal {
  background: var(--color-normal);
  color: #000;
}
.tipos .psychic,
.tipopoke .psychic {
  color: snow;
  background: var(--color-psychic);
}
.tipos .steel,
.tipopoke .steel {
  background: var(--color-steel);
  color: #000;
}
.tipos .dark,
.tipopoke .dark {
  color: snow;
  background: var(--color-dark);
}
.tipos .electric,
.tipopoke .electric {
  background: var(--color-electric);
  color: #000;
}
.tipos .fighting,
.tipopoke .fighting {
  color: snow;
  background: var(--color-fighting);
}
.tipos .flying,
.tipopoke .flying {
  background: var(--color-flying);
  color: #000;
}
.tipos .grass,
.tipopoke .grass {
  background: var(--color-grass);
  color: #000;
}
.tipos .ice,
.tipopoke .ice {
  background: var(--color-ice);
  color: #000;
}
.tipos .poison,
.tipopoke .poison {
  color: snow;
  background: var(--color-poison);
}
.tipos .rock,
.tipopoke .rock {
  color: snow;
  background: var(--color-rock);
}
.tipos .water,
.tipopoke .water {
  color: snow;
  background: var(--color-water);
}

.tipos .igen {
  background: var(--color-i);
}
.tipos .iigen {
  background: var(--color-ii);
}
.tipos .iiigen {
  background: var(--color-iii);
}
.tipos .ivgen {
  background: var(--color-iv);
}
.tipos .vgen {
  color: rgb(0, 0, 0);
  background: var(--color-v);
}
.tipos .vigen {
  background: var(--color-vi);
}
.tipos .viigen {
  background: var(--color-vii);
}
.tipos .viiigen {
  background: var(--color-viii);
}
.tipos .ixgen {
  background: var(--color-ix);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent2);
}

.loaderbody {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.preloader {
  width: 100px;
  height: 100px;
  border-top: 5px solid #000;
  border-radius: 100%;
  animation: girar 1s infinite linear;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* POKEMONS */

.divpokemonpadre {
  padding: 0rem 0 1rem 1rem;
  width: 95vw;
  margin: auto;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.pokemonindividual {
  z-index: -1;
  isolation: isolate;
  width: 300px;
  height: auto;
  overflow: hidden;
  background-color: rgba(140, 140, 140, 0.1);
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.colorfondopoke {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: contrast(0.8) brightness(1.2);
}
.numeroback {
  z-index: -1;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -75%);
  font-size: 6.5rem;
  font-weight: 900;
  overflow: hidden;
  opacity: 0.2;
  color: rgba(0, 0, 0, 0.1);
}

.imagenpoke {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.hiddenimg {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
}
.hiddenimg:hover {
  opacity: 1;
}

.imagenpoke img {
  background-repeat: cover;
  width: 100%;
  height: 100%;
}
.datospoke {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
  margin: auto;
  color: #000;
}

.datospoke .numero {
  font-size: 0.9rem;
  color: rgb(119, 119, 119);
}

.datospoke .nombre {
  font-size: 1.7rem;
  text-transform: capitalize;
}

.tipopoke {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem auto;
  color: #000;
}

.tipopoke span {
  width: 90px;
  text-align: center;
  padding: 5px 0px;
  font-size: 0.8rem;
  border-radius: 0.3rem;
}

.boton {
  margin: 2rem 0rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.boton button {
  width: 200px;
  padding: 5px 0px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #000;
  color: #000;
  background-color: var(--color-primary-hover);
}

.boton button:hover {
  font-weight: 700;
  background-color: rgb(2, 119, 173);
  color: snow;
  transition: all 0.3s;
  cursor: pointer;
}

.links:hover {
  transition: ease-in-out 0.1s;
  scale: 1.02;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
}

/* POKEMON PAGE */

.padrepage {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  background-color: var(--color-accent);
  width: auto;
  height: auto;
}

.fondo {
  display: flex;
  position: fixed;
  z-index: 0;
  width: 95vw;
  height: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  opacity: 0.2;
  justify-content: space-between;
  align-items: center;
}

.fondo img {
  margin-top: 3rem;
  margin-right: 2rem;
  width: auto;
  height: 60vh;
  object-fit: fill;
}

.fondo .texto {
  width: 100%;
  height: auto;
  margin-left: 2rem;
  overflow: hidden;
}

.fondo .texto h1 {
  font-size: 25vw;
}

.botones {
  z-index: 50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 2rem;
  align-items: center;
  width: 95vw;
  max-width: 1500px;
  margin: 0 auto;
}

.izquierda,
.derecha {
  display: flex;
  align-items: center;
  padding: 0px 1rem;
  border-radius: 100vmax;
  margin: 15px 0px 7px 0px;
}
.izquierda {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 80%
  );
}
.derecha {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 80%
  );
}

.derecha:hover {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 90%
  );
}

.izquierda:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 90%
  );
}

.izquierda img,
.derecha img {
  width: auto;
  height: 80px;
  object-fit: fill;
}

.izquierda p,
.derecha p {
  text-transform: capitalize;
  overflow: hidden;
  font-weight: 900;
  color: #000;
}

.izquierda button,
.derecha button {
  padding: 10px 7px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: var(--color-accent);
  color: #000;
  cursor: pointer;
}

.encabezado {
  display: flex;
  flex-direction: row;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4rem;
  margin: 0 4rem;
  justify-content: center;
  position: relative;
  backdrop-filter: blur(7px);
  align-items: center;
  width: 95vw;
  max-width: 1500px;
  margin: 0 auto;
}

.encabezado .infodetalle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.encabezado .infodetalle .nombre {
  font-size: 5vw;
  text-transform: capitalize;
  color: var(--color-accent2);
}
.encabezado .infodetalle .especie {
  font-size: 2vw;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-accent);
}
.encabezado .infodetalle .numero {
  padding-top: 0.5rem;
  font-size: 1.2vw;
  text-align: center;
  color: rgb(145, 145, 145);
}

.imagencompleto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.imagenhover {
  width: 25vw;
  position: inherit;
}
.imagenhover .imgdetalle {
  width: 100%;
  height: auto;
  z-index: 1;
}

.imagenhover .imgdetalle:hover {
  opacity: 0;
}

.imagenhover .imgdetallehidden {
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50.3%);
  position: absolute;
  opacity: 0;
}

.imagenhover .imgdetallehidden:hover {
  opacity: 1;
  filter: drop-shadow(0px 0px 10px #000);
  transition: ease-in-out 0.2s;
}

.textoabajoimagen p {
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-accent2);
}

.especieyhabi {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4rem;
  margin: 1rem 4rem;
  justify-content: center;
  position: relative;
  backdrop-filter: blur(1px);
  align-items: center;
  width: 95vw;
  max-width: 1500px;
  margin: 2rem auto;
}

.especieyhabi .infobasica {
  display: flex;
  margin: 2rem;
  width: 95%;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3rem;
}

.especieyhabi .infobasica .detallesavanzados {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  font-weight: 900;
}

.detallesavanzados h1 {
  color: var(--color-accent2);
}

.especieyhabi .infobasica .masdetalles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.especieyhabi .infobasica .masdetalles .imagencita {
  width: 300px;
  height: auto;
  margin-left: 1rem;
}
.especieyhabi .infobasica .masdetalles .imagencita img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.especieyhabi .infobasica .masdetalles .detallescompletos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.especieyhabi .infobasica .masdetalles .detallescompletos h4 {
  background-color: var(--color-accent);
  padding: 5px 20px;
  text-align: center;
  width: 130px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid var(--color-accent2);
  text-transform: capitalize;
}

.especieyhabi .infobasica .masdetalles .detallescompletos .egggroups {
  display: flex;
  width: 370px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.especieyhabi .infobasica .masdetalles .detallescompletos .egggroups h4 {
  text-align: center;
  width: 130px;
  max-width: 100%;
  margin: auto;
  margin: 5px;
}

.especieyhabi .infobasica .masdetalles .detallescompletos .egggroups p {
  text-align: center;
  margin: 0 auto;
  padding: 0px 85px;
}

.especieyhabi .infobasica .masdetalles .detallescompletos p {
  text-align: center;
  color: #777;
}

.infobasica .masdetalles .imagencita .grito .audio {
  width: 100px;
}

audio {
  width: 150px;
  height: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
}

audio::-webkit-media-controls-mute-button {
  display: none !important;
}

audio::-webkit-media-controls-volume-slider {
  display: none !important;
}

audio::-webkit-media-controls-volume-control-container.closed {
  display: none !important;
}
audio::-webkit-media-controls-volume-control-container {
  display: none !important;
}
audio::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

audio::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}

.especieyhabi .hastaabajo {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4rem;
  margin: 1rem 4rem;
  justify-content: center;
  backdrop-filter: blur(1px);
}

.hastaabajo p {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  font-weight: 900;
  color: var(--color-accent2);
}

.abilities {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 2rem;
}

.abilities .hiddenabi,
.unhiddenabi {
  display: flex;
  width: 35vw;
  background-color: snow;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}

.abilities .unhiddenabi {
  column-gap: 1.5rem;
}

.abilities .hiddenabi::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5vw;
  height: 80px;
  background-color: var(--color-accent);
}
.abilities .hiddenabi::before {
  content: "Oculta";
  font-size: 0.8rem;
  position: absolute;
  align-items: center;
  width: 5vw;
  height: 40px;
  top: 0%;
  left: 0%;
  transform: translate(0%, 20%);
}

.abilities .hiddenabi h1,
.unhiddenabi h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--color-accent2);
}

.estadisticaspadre {
  width: 89%;
  justify-content: flex-start;
  margin: 1rem 5rem 3rem;
  display: flex;
  flex-direction: row;
}

.estadisticaspadre .estadisticas {
  width: 100%;
  font-size: 1.2rem;
}

.barra0,
.barra1,
.barra2,
.barra3,
.barra4,
.barra5 {
  width: 75%;
  background-color: var(--color-accent);
  border-radius: 0px 20px 20px 0px;
  padding: 10px 10px;
  display: inline-flex;
  text-align: right;
  font-weight: 900;
  justify-content: right;
  font-size: 1rem;
}
.nombres {
  width: 20%;
  justify-content: center;
  text-align: center;
  border-radius: 20px 0px 0px 20px;
  overflow: hidden;
  margin: 5px 0px;
  padding: 10px 0px;
  white-space: nowrap;
  background-color: var(--color-accent);
  display: inline-flex;
  font-weight: 900;
  font-size: 1rem;
  border-right: 2px solid var(--color-accent2);
}

.totalh2 {
  color: var(--color-accent2);
  margin-top: 1.5rem;
  text-align: center;
}

/* RESPONSIVE */

@media (max-width: 800px) {
  /* FILTROS */

  .filtropadre {
    width: 95vw;
    display: flex;
    padding-top: 3.7rem;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }

  .divfiltros {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .tipos {
    margin: 0 auto 1rem;
    max-width: 700px;
    flex-direction: row;
    display: none;
  }
  .tipos button {
    width: 100px;
  }
  .show {
    display: flex;
  }
  /* HOME */
  .divpokemonpadre {
    padding: 0rem 0rem 1.5rem 0rem;
    width: 100vw;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  .pokemonindividual {
    width: 85vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    isolation: isolate;
    margin-bottom: 0rem;
  }

  .pokemonindividual::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120px;
    border-radius: 0 100vmax 100vmax 0;
    background-color: rgba(255, 255, 255, 0.4);
    left: 0%;
  }
  .numeroback {
    transform: translate(50%, -50%);
    font-size: 3rem;
  }

  .imagenpoke {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0;
  }

  .imagenpoke img {
    object-fit: contain;
    width: 85%;
    height: auto;
  }
  .datospoke {
    flex-grow: 2;
    width: 35vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
    align-items: center;
    margin: 1rem;
  }
  .datospoke .numero {
    color: rgba(0, 0, 0, 0.5);
  }
  .datospoke .nombre {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
  }

  .pokemonindividual .tipopoke {
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: column !important;
    margin: 0;
    justify-content: flex-end;
    margin-right: 1rem;
    row-gap: 0.5rem;
  }

  .tipopoke span {
    width: 95px;
    padding: 5px 0px;
  }

  /* NAVBAR */

  .divimg img {
    max-width: 70px;
    width: 70px;
    height: auto;
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  }

  .inicio h1 {
    display: none;
  }

  /* BARRA DE BUSQUEDA */
  .react-autosuggest__suggestions-container--open {
    width: 57vw;
    margin-left: -3.5rem;
    font-size: 18px;
    max-height: 400px;
  }
  .react-autosuggest__input {
    width: 55vw;
    margin-left: -3.5rem;
  }
  .imgpequesearch {
    height: 55px;
  }

  /* POKEMON PAGE */
  .padrepage {
    padding-top: 3.5rem;
    position: relative;
  }

  .fondo {
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 500px;
  }

  .fondo img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  .fondo .texto {
    width: auto;
    height: 100px;
  }

  .fondo .texto h1 {
    font-size: 100px;
  }

  .botones {
    width: 95vw;
    margin: 0rem 0.5rem;
    overflow: hidden;
  }

  .izquierda img,
  .derecha img {
    height: 45px;
    margin: -0.5rem;
  }

  .botones .izquierda,
  .botones .derecha {
    width: 38vw;
  }
  .izquierda p,
  .derecha p {
    width: 100%;
    margin: 0 -0.1rem;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
  }

  .izquierda button,
  .derecha button {
    padding: 6px 5px;
    margin: 6px 0px;
  }

  .encabezado {
    width: 95vw;
    border-radius: 1rem;
    margin: 1rem auto 0;
  }

  .encabezado .infodetalle {
    width: 30vw;
    padding-left: 3rem;
  }

  .encabezado .infodetalle .nombre {
    font-size: 7vw;
    white-space: nowrap;
  }
  .encabezado .infodetalle .especie {
    font-size: 4vw;
    white-space: nowrap;
  }
  .encabezado .infodetalle .numero {
    text-align: left;
    font-size: 2vw;
  }

  .tipopoke {
    width: 35vw;
    flex-direction: row !important;
    justify-content: start;
  }
  .tipopoke span {
    margin: 0 !important;
    width: 60px;
  }

  .imagenhover {
    padding-top: 1rem;
    width: 150px;
    height: auto;
  }

  .imagenhover .imgdetallehidden {
    padding-top: 1rem;
    transform: translate(-50%, -50.7%);
  }

  .textoabajoimagen p {
    width: 180px;
    padding-right: 1rem;
  }

  .especieyhabi {
    border-radius: 1rem;
    margin: 2rem auto;
    width: 95vw;
  }

  .especieyhabi .infobasica {
    border-radius: 0.5rem;
    margin: 1rem 0;
    justify-content: center;
  }

  .especieyhabi .infobasica .masdetalles {
    flex-direction: column;
  }

  .especieyhabi .infobasica .masdetalles .imagencita {
    width: auto;
    height: auto;
    padding-top: 1rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  .especieyhabi .infobasica .masdetalles .imagencita img {
    width: 70%;
    height: 60%;
    object-fit: cover;
  }

  audio {
    margin-top: 0;
    width: 180px;
  }

  .especieyhabi .infobasica .masdetalles {
    width: 95vw;
  }

  .especieyhabi .infobasica .masdetalles .detallescompletos {
    flex-direction: row;
    row-gap: 1rem;
    column-gap: 0rem;
    margin: 0;
    width: 85%;
  }

  .especieyhabi .infobasica .masdetalles .detallescompletos h4,
  .especieyhabi .infobasica .masdetalles .detallescompletos .egggroups h4 {
    text-align: center;
    width: 25vw;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.8rem;
  }

  .especieyhabi .hastaabajo {
    border-radius: 0.5rem;
  }

  .abilities {
    column-gap: 0.5rem;
  }

  .abilities .hiddenabi,
  .unhiddenabi {
    width: 40vw;
  }

  .abilities .unhiddenabi {
    column-gap: 0.5rem;
  }

  .abilities .hiddenabi::after {
    width: 42px;
  }
  .abilities .hiddenabi::before {
    width: 42px;
    height: 40px;
    top: 50%;
    left: 0%;
    transform: translate(0%, -20%);
  }

  .abilities .hiddenabi h1,
  .unhiddenabi h1 {
    font-size: 3vw;
  }
  .abilities .hiddenabi h1 {
    padding-left: 0.8rem;
  }

  .estadisticaspadre {
    width: auto;
    margin: 1rem 0rem 1rem 1rem;
  }

  .estadisticaspadre .estadisticas {
    width: 100%;
  }

  .barra0,
  .barra1,
  .barra2,
  .barra3,
  .barra4,
  .barra5 {
    font-size: 0.5rem;
  }

  .nombres {
    font-size: 0.5rem;
  }

  .totalh2 {
    font-size: 1.5rem;
  }
}
